

@media screen and (max-width: 800px) {
    .nav, .account {
        display: none;
    }

    .nav-button {
        display: block;
    }

    .mobile-nav-active {
        display: flex;
    }

    .container-wide {
        margin: 0 auto;
        max-width: 100%;
        padding: 20x 20px 0 82px;
    }
}