@media (max-width: 1200px) {
    .hero-title {
        font-size: 68px;
    }
}

@media (max-width: 800px) {
    .nav, .account {
        display: none;
    }

    .nav-button {
        display: block;
    }

    .mobile-nav-active {
        display: flex;
    }

    .container-wide {
        margin: 0 auto;
        max-width: 100%;
        padding: 20px 20px 0 20px;
    }

    .hero-title {
        font-size: 38px;
    }

    .hero-category {
        font-size: 14px;
        padding-left: 62px;
    }

    .hero-category::before {
        width: 42px;
    }

    .hero-scroll {
        font-weight: 500;
    }
}