@media (max-width: 1920px) {
    .header {
        margin-bottom: 843px;
    }
}

@media (max-width: 1550px) {
    .header {
        margin-bottom: 500px;
    }
}

@media (max-width: 1200px) {
    .hero-title {
        font-size: 68px;
    }

    .row {
        margin-bottom: 98px;
    }

    .header {
        margin-bottom: 300px;
    }

    .article-text::before {
        width: 140px;
        height: 140px;
        font-size: 140px;
    }

    .article-text {
        padding-left: 50px;
        max-width: 50%;
    }

    .article-img {
        width: 45%;
    }

    .footer-nav + .footer-nav {
        margin-left: 100px;
        }
}

@media (max-width: 768px) {
    .nav, .account {
        display: none;
    }

    .nav-button {
        display: block;
    }

    .mobile-nav-active {
        display: flex;
    }

    .container-wide {
        margin: 0 auto;
        max-width: 100%;
        padding: 20px 20px 0 20px;
    }

    .row {
        margin-bottom: 98px;
    }

    .header {
        margin-bottom: 200px;
    }
    .hero-title {
        font-size: 38px;
    }

    .hero-category {
        font-size: 14px;
        padding-left: 62px;
    }

    .hero-category::before {
        width: 42px;
    }

    .hero-scroll {
        font-weight: 500;
    }

    .article, .article:nth-child(even) {
        flex-direction: column-reverse;
        margin-bottom: 100px;
    }

    .article-img {
        max-width: 100%;
        width: auto;
        margin-bottom: 75px;
    }

    .article-title {
        /* text-align: center; */
        font-size: 44px;
        max-width: 100%;
    }

    .article-text {
        max-width: 100%;
        padding-left: 10px;
    }

    .footer-row {
        flex-direction: column-reverse;
        
    }

    .footer-nav-wrapper {
        margin-bottom: 80px;
        justify-content: space-around;
        }

    .footer-nav + .footer-nav {
        margin-left: 20px;
        }


}